html,
body {
    height: 100%;
}

body {

    color: white;
    background-image: url("https://st2.depositphotos.com/5647624/50508/i/600/depositphotos_505083934-stock-photo-golden-isolated-sparkles-or-glitter.jpg")
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}